<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Python Interview Task</title>
        <style>
            h1 {text-align: center;}
            p {text-align: center;}
            div {text-align: center;}
            #secret {
                color: red;
                font-weight: 900;
              }
        </style>
    </head>
    <body>
        <h1>Python Interview Task Simple Python Script</h1>
        <p>You are now running the the Python Interview Task script.</p>
        <p>Your decrypted secret value is: <span id=secret>{{ decrypted_value }}</span></p>
    </body>
</html>